In [1]:
import plotly.graph_objects as go
import pandas as pd

In [6]:
df_book = pd.read_csv('teste_book.csv', index_col=[0])
df_hist = pd.read_csv('teste_hist.csv', index_col=[0])
df_patri = pd.read_csv('teste_patri.csv', index_col=[0])

In [7]:
df_patri

,ITUB4,LREN3,MGLU3,TTEN3,VALE3,soma,evolucao_patrimonial,evolucao_percentual,evolucao_cum
date,,,,,,,,,
2022-02-23,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.000000,1.000000
2022-02-24,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000000,1.000000
2022-02-25,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000000,1.000000
2022-03-02,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000000,1.000000
2022-03-03,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000000,1.000000
...,...,...,...,...,...,...,...,...,...
2023-02-15,-133550.0,0.0,0.0,0.0,0.0,-133550.0,-1650.005,0.012355,1.126837
2023-02-16,-134250.0,0.0,0.0,0.0,0.0,-134250.0,-700.000,0.005214,1.132712
2023-02-17,-135550.0,0.0,0.0,0.0,0.0,-135550.0,-1300.000,0.009591,1.143576
2023-02-22,-131600.0,0.0,0.0,0.0,0.0,-131600.0,3950.000,-0.030015,1.109251
2023-02-23,-133450.0,0.0,0.0,0.0,0.0,-133450.0,-1850.000,0.013863,1.124628